<ul class="nav justify-content-end">
        <li class="nav-item">
          <a class="nav-link active" href="#">Colecciones Académicas</a>
         </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Ciencias Sociales</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Arquitectura, Urbanismo y diseño</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Ciencias Económicas y administrtivas</a>
        </li>
        <li class="nav-item">
                <a class="nav-link" href="#">Ciencias de la salud</a>
              </li>
      </ul>