<div class="text-center mb-4">
          <h1 class="h3 mb-3 font-weight-normal">Datos del Autor</h1>
          </div>

<form action="" class="main-form">

    <div class="row">
          <div class="col" >
             <div class="form-group">
                  <label for="nombres">Nombres</label>
                  <input type = "text" name="nombres" id="nombres" class=form-control>
              </div> 
         </div>
         <div class="col">
                    <div class ="form-group">
                          <label for="apellidos">Apellidos</label>
                          <input type= "text" name="apellidos" id ="apellidos"class=form-control>
                    </div>
        </div>
    </div>

    
       <div class="row">
              <div class="col">
                     <div class ="form-group">
                             <label for="identificacion">Identificación</label>
                             <input type= "number" name="identificacion" id ="identificacion"class=form-control>
                       </div>
                </div>

                <div class="col">
                        <div class ="form-group">
                              <label for="nacionalidad">Nacionalidad</label>
                              <input type= "text" name="nacionalidad" id ="nacionalidad"class=form-control>
                          </div> 
                          
                    </div>  
            </div>   

       <div class ="form-group">
            <label for="edad">Edad</label>
            <input type= "number" name="edad" id ="edad"class=form-control>
        </div>

       <div class="form-group">
           <label for="email">E-mail</label>
           <input type= "text" name="email" id ="email"class=form-control>
       </div>

       <div>
          <label for="celular">Celular</label>
          <input type= "number" name="celular" id ="celular"class=form-control>
       </div>
       
       <div>
          <label for="genero">Genero</label>
            <select name="genero" id="genero"class=form-control>
             <option value="masculino">Masculino </option>
             <option value="femenino">Femenino </option>
             <option value="otro">Otro </option>
        </select>
       </div>
       
       <div>
            <button type="enviar" class="btn btn-success">Enviar</button>
        </div>  
</form>
